<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>GymManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body class="h-full">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="bg-white mx-auto">
        <!-- Header -->
        <%= render "shared/navbar" %>

            <%= yield %>

        <%= render "shared/footer" %>

      </div>
  </body>
</html>
